.name{
    position: fixed;
    
}

.dropbtn {
  background-color:LightSeaGreen;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 20px 20px 20px 20px;
}

.dropdown {
  
  position: fixed;
  display: inline-block;
  bottom: 450px
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color:PaleTurquoise}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: LightSeaGreen;
}
.submit{
  position: fixed;
  display: inline-block;
  bottom: 100px;
  left: 75px;
  border-radius: 20px 20px 20px 20px;
}

.btn {
  background-color: LightSeaGreen;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 20px 20px 20px 20px;
  
}
}

.order{
  position: fixed;
  display: inline-block;
  bottom: 100px;
  left: 75px;
  border-radius: 20px 20px 20px 20px;
}

.ord{
    background-color: LightSeaGreen;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 20px 20px 20px 20px;
}


figure {
    display: inline-block;
    border: none;
    margin: 20px; /* adjust as needed */
}
figure img {
    vertical-align: top;
}
figure figcaption {
    border: none;
    text-align: center;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

input[type="checkbox"][id^="cb"] {
  display: none;
    
}

label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 200px;
  width: 300px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked+label {
  border-color: #ddd;
}

:checked+label::before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

:checked+label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}

.name{
    
    background-color: Teal;
    color: FloralWhite;
    border-radius: 20px 20px 20px 20px;
    
}

.starters{
    position:absolute; 
    left:400px; 
    color: Teal;
    
    
    
}


